.header {
  &__part {
    border-bottom: var(--border-normal);
  }
  
  &__flex {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 40em) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}