* {
  box-sizing: border-box;
}

@keyframes pop {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

select, button {
  cursor: pointer;
}

input, select, button, textarea {
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

html {
  --color-main: #4b8;
  --color-alt: #296;
  --border-normal: 1px solid rgba(0, 0, 0, .2);
  --color-bg: white;
  --color-opacity: rgba(0, 0, 0, .1);
}

body {
  font-family: 'Noto Sans', sans-serif;
  transition: background-color .3s;
}

a, del, ins {
	text-decoration: none;
}
a {
	color: inherit;
}

a:hover {
  color: var(--color-alt);
}

p {
  line-height: 1.3;
}

.container {
  width: 96%;
  max-width: 70em;
  margin: 0 auto;
}

.theme-dark {
  color: white;
  background-color: black;
  --border-normal: 1px solid rgba(255, 255, 255, .2);
  --color-bg: black;
  --color-opacity: rgba(255, 255, 255, .1);
}

.theme-dark #theme-switch .icon-moon::before {
  content: "\e906";
}